.gooby {
	text-align: center;
	margin: 0px auto;
	width: 95%;
	
}

.goofy {
	text-align: center;
	margin: 0px auto;
	width: 95%;
	height: 150px;
}

.bodybox {

	height: 640px;
}

.button {
	float: left;
	background-color: #4AAAA5;
	color: #FFFFFF;
	margin: 0px auto;
	margin-left: 15px;
	width: 100px;
	height: 40px;
	margin-bottom: 20px;
}